<!DOCTYPE html>
<html>
  <head>
    <title>HskFlashcards</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <body>
    <nav class="navbar bg-body-tertiary bg-light">
      <div class="container-fluid">
        <a class="navbar-brand fw-semibold fs-3" href="<%= root_path %>">
          <img src="<%= asset_path('icon1.svg') %>" alt="Language" width="30" height="24" class="custom-icon d-inline-block align-text-center">
          <img src="<%= asset_path('icon2.svg') %>" alt="Language" width="30" height="24" class="custom-icon d-inline-block align-text-center">
          HSK Flashcards
        </a>
        <ul class="navbar-nav d-flex flex-row ms-auto">
          <li class="nav-item mx-3">
            <a class="nav-link fw-medium" href="<%= root_path %>">Cards</a>
          </li>
        </ul>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
