<!DOCTYPE html>
<html>
  <head>
    <title>HskFlashcards</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <body>
    <nav class="navbar bg-body-tertiary bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="<%= root_path %>">
          <img src="<%= asset_path('language-solid.svg') %>" alt="Language" width="30" height="24" class="d-inline-block align-text-top mx-3">
          HSK Flashcards
        </a>
        <ul class="navbar-nav d-flex flex-row ms-auto">
          <li class="nav-item mx-3">
            <a class="nav-link" href="<%= root_path %>">Cards</a>
          </li>
        </ul>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
